@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.custominput {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    margin-top: 10px;

    &__label {
        position: absolute;
        bottom: 100%;
        left: 15px;

        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #888e96;
        transition: 0.3s;
        padding: 3px 6px;
        background: white;
        transform: translateY(50%);
    }

    &__input {
        background: #ffffff;
        border: 1px solid #dce0e4;
        border-radius: 9px;
        height: 50px;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #212b36;
        transition: 0.3s;

        &::placeholder {
            color: #888e96;
        }

        &:focus {
            border-color: #7753f8;

            & + span {
                color: #7753f8 !important;
            }
        }
    }
}

.TextInput {
    font-size: 14px;
    position: relative;
    /*margin-bottom: calc(1em * 0.8);*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.TextInput input[disabled] {
    background-color: #f5f5f5 !important;
    color: #777;
    cursor: not-allowed;
}

.TextInput label {
    width: 100%;
    display: block;
    position: relative;
}

.TextInput .input input,
.TextInput textarea {
    min-height: 48px;
    resize: none;
    border-radius: 9px;
    border: 1px solid #dce0e4;
    padding: 10px;
    outline: none;
    background-color: #fff;
    width: 100%;
    transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}
html.dark .TextInput .place {
    background-color: #0f172a;
}

html.dark .TextInput .input input,
html.dark .TextInput textarea {
    background-color: inherit !important;
}

.TextInput .input :is(input, textarea):focus,
.TextInput.focus {
    border-color: #7753f8;
    --vs-border-color: #7753f8;
}

.TextInput .help-message {
    position: absolute;
    padding: 0 2px;
    bottom: calc(-1.5 * 1em);
    left: 0;
    margin: 0;
    font-size: 14px;
    @include limitLine(4);
}

.TextInput.has-error .input :is(input, textarea) {
    border: 1px solid #f23648;
    color: #f23648;
}

.TextInput.has-error .input input:focus {
    border-color: #f23648;
}

.TextInput.has-error .help-message {
    color: #f23648;
    z-index: 100;
}

.TextInput.success input:focus {
    border-color: #7753f8;
}

.TextInput .place {
    position: absolute;
    background: #fff;
    color: #aaa;
    transition: 0.2s ease;
    top: 11px;
    left: 10px;
    border-radius: 3px;
    padding: 2px;
}

.TextInput :is(input, textarea):focus + .place,
.TextInput.isFilled .place {
    top: -12px;
    background: #fff;
    font-size: 14px;
    color: #7753f8;
    display: block;
}

.TextInput :is(input, textarea):focus::placeholder {
    color: transparent;
}

